<header class="container main_header">
	<div class="row">
		<div class="col-sm-3 text-center">
			<a href="/"><img src="/img/tiki.png" style="display:inline-block"></a>
		</div>
		<div class="col-sm-6 search">
			<input type="text" name="" placeholder="Search">
			<button type="submit">TÌM</button>
		</div>
		<div class="col-sm-3 login">
			<div class="pull-left" style="margin-right:20px">
				<img src="/img/avatar-s.png" width="40">
			</div>
			<p style="padding-top:11px">
				<% if signed_in? %>
					<% if current_user.is_admin? %>
						<a href="<%= admin_path %>" class="text-capitalize" data-no-turbolink>Hello <%= current_user.username %></a>
					<% else %>
						<a href="<%= front_end_user_path %>" class="text-capitalize">Hello <%= current_user.username %></a>
					<% end %> | 
					<a href="<%= sign_out_path %>">Đăng xuất</a>
				<% else %>
					<a href="<%= sign_in_path %>" data-no-turbolink>Đăng nhập</a>
				<% end %>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
</header>
<div class="container-fluid" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd">
	<div class="container">
		<ol class="breadcrumb breadcrumb_top">
		  <li><a href="#">Trang chủ</a></li>
		  <li class="active">Data</li>
		</ol>
	</div>
</div>