<% provide(:title, @book.title) %>

<% content_for :add_css do %>
	<!-- <link rel="stylesheet" type="text/css" href="/css/swiper.min.css"> -->
<% end %>

<% content_for :front_end_main do %>
	<div class="col-sm-12" id="show_book_main_content">
	    <div class="row">
	    	<div class="col-sm-5 book_img text-center">
	    		<img src="<%= @book.img_path.url %>" width="330">
	    	</div>
	    	<div class="col-sm-7">
	    		<h3 class="text-capitalize"><%= @book.title %></h3>
	    		<p>Tác giả : <strong class="text-primary text-capitalize"><%= @book.author %></strong></p>
	    		<p class="list_categories">Chuyên mục<strong class="text-primary">
		    		<% @categories.each do |category| %>
		    			<a href="<%= category_path(category.slug) %>"><%= category.category %></a>
		    		<% end %>
	    		</strong></p>
			   	<% if signed_in? %>
			    	Rate for user  <%= rating_for @book, 'quality', disable_after_rate: false, enable_half: true %>
			    <% else %>
			    	<div>
			    		Rate for user  <%= rating_for @book, 'quality', disable_after_rate: false, enable_half: true %>
		    			<div>
		    				<a class="rate" href="#" data-toggle="modal" data-target=".modal"></a>
		    			</div>
			    	</div>
			    <% end %>
	    		<% unless @book.average("quality").nil? %>
					(<%= @book.average("quality").avg %>)
				<% end %>
				<p>
					<br>
					<iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= request.original_url %>&layout=button&mobile_iframe=true&width=59&height=20&appId" width="70" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					<iframe src="https://platform.twitter.com/widgets/tweet_button.html?size=i&url=<%= request.original_url %>&related=twitterapi%2Ctwitter" width="80" height="20" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</p>
	    		<div class="book_description">
	    			<h4>Gioi thieu sach</h4>
	    			<pre>
	    				<%= @book.description %>
	    			</pre>
	    		</div>
	    	</div>
	    </div>

	    <div class="row book_comment">
	    	<h4>Để lại lời nhận xét của bạn</h4>
	    	<div class="text-left">
	    		<% if signed_in? %>
	    			<% unless current_user.reviewed?( @book.id ) %>
			    		<%= form_for(@review, remote: true) do |f| %>
							<div class="field">
								<%= f.text_area :content, placeholder: "Để lại lời nhận xét ...", id: 'review_content', class: "full_width", required: "" %>
								<div><%= hidden_field_tag :book_id, @book.id %></div>
							</div>
							<%= f.submit "Gửi lời nhận xét của bạn", class: "btn btn-primary" , id: 'review_submit' %>
						<% end %>
					<% else %>
						<%= form_for(@review, remote: true) do |f| %>
							<div class="field">
								<%= f.text_area :content, placeholder: "Chỉ được viết review 1 lần thôi thím, đừng cố...", id: 'review_content', class: "full_width", required: "" , disabled: ""%>
								<div><%= hidden_field_tag :book_id, @book.id %></div>
							</div>
							<%= f.submit "Gửi lời nhận xét của bạn", class: "btn btn-primary" , id: 'review_submit' , disabled: ''%>
						<% end %>
					<% end %>
				<% else %>
					<textarea class="full_width"  placeholder="Để lại lời nhận xét ..."></textarea>
					<input type="submit" class="btn btn-primary" value="Gửi lời nhận xét của bạn" data-toggle="modal" data-target=".modal"/>
				<% end %>
	    	</div>
	    	<ul class="list_reviews">
			    <% if @book.reviews.any? %>
			        <%= render @reviews %>
			      	<%= will_paginate @reviews %>
			    <% end %>
	    	</ul>
	    </div>
	</div>
	<!-- MODAL -->
	<div class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Thông báo</h4>
	      </div>
	      <div class="modal-body">
	        <p>Bạn phải đăng nhập để sử dụng chức năng này</p>
	        <p><a href="<%= sign_in_path %>" data-no-turbolink>Đăng nhập</a> ngay</p>
	      </div>
	      <div class="modal-footer text-center">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<% end %>

<% content_for :add_js do %>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('body').on('click','.edit_review_button', function () {
		    	var selector = $('#edit_review');
		    	if(selector.is(':visible')){
		    		selector.hide();
			  		selector.siblings('pre').show();
		    	}else{
				  	selector.show();
				  	selector.siblings('pre').hide();
		    	}
			})
		    $('body').on('click','.edit_review_cancle', function () {
		    	$('#edit_review').hide();
		  		$('#edit_review').siblings('pre').show();
			})
		    $('body').on('submit','form.edit_review', function () {
		    	$('#edit_review button[type="submit"]').attr('disabled','disabled').html('<i class="fa fa-spinner fa-spin fa-fw"></i> Đang xử lý...');
			})
		});
	</script>
<% end %>

<% extends_layout "front_end/layouts/master" %>
