
<% content_for :add_css do %>
	<%= stylesheet_link_tag 'nprogress' %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<% end %>

<% content_for :content do %>

	<%= render 'front_end/header' %>

	<section class="container">
		<div class="row">
			<%= yield :front_end_main %>
		</div>
	</section>

	<%= render 'front_end/footer' %>

<% end %>

<% content_for :add_js do %>
	<%= javascript_include_tag 'nprogress'%>
	<script type="text/javascript" src="/js/front_end.js"></script>
	<script type="text/javascript" src="/js/typeahead.bundle.v0.11.1.js"></script>
	<script type="text/javascript" src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
	<script type="text/javascript">
		var books = new Bloodhound({
		  	datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
		  	queryTokenizer: Bloodhound.tokenizers.whitespace,
		  	remote: {
		    	url: '/book/autocomplete?query=%QUERY',
		    	wildcard: '%QUERY'
		  	}
		});

		$('#book_search').typeahead({
			  // hint: true,
			  highlight: true,
			  // minLength: 1,
			  limit: 1,
			},
			{
			  name: 'books',
			  display: 'title',
			  source: books,
			  templates: {
			  	empty: [
			      '<div class="empty-message">',
			        'Không tìm thấy gợi ý nào',
			      '</div>'
			    ].join('\n'),
			    suggestion: Handlebars.compile('<a href="{{url}}">{{title}}</a>')
			  }
		});

	</script>
<% end %>
