<li class="row" id="review-<%= review.id %>">
    <div class="col-sm-2 user_comment text-center">
        <img src="<%= review.user.avatar.url %>" class="profile_img" style="width: 60px;">
        <p class="text-capitalize"><strong><%= review.user.username %></strong></p>
        <span class="timestamp text-f-uppercase">
            <%= time_ago_in_words(review.created_at) %> ago
        </span>
    </div>
    <div class="col-sm-10 review_content content">
        <pre class="text-f-uppercase"><%= review.content %></pre>
        <% if current_user?(review.user) %>
            <div id="edit_review" style="display:none">
                <%= form_for(review, remote: true) do |f| %>
        			<div class="field">
        				<%= f.text_area :content, value: review.content, id: 'review_content', class: "full_width", required: "", 'spell-check': false %>
        				<div><%= hidden_field_tag :book_id, @book.id %></div>
        			</div>
        			<button type="submit" id="review_submit" class="btn btn-primary">Cập nhật</button>
        			<a class="btn btn-danger edit_review_cancle">Hủy</a>
        		<% end %>
            </div>
		<% end %>
        <div class="reply_area">
            <a data-toggle="collapse" data-target="#<%= review.id%>" aria-expanded="false" aria-controls="collapseExample">Bình luận (<%= review.comments.count %>)</a>
            <% if current_user?(review.user) %>
                <a class="edit_review_button"><i class='glyphicon glyphicon-edit'></i> Chỉnh sửa</a>
                <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Xóa"), review, method: :delete, data: { confirm: "You sure?" } ,remote:true %>
            <% end %>
        </div>
        <div class="collapse" id="<%= review.id %>">
          <div class="">
            <ul class="list_comments" id="comments">
              <li>
                <% if signed_in? %>
                    <%= render 'comments/comment_form', review: review %>
                <% end %>
              </li>
                <% if review.comments.any? %>
                    <%= render review.comments %>
                <% end %>
            </ul>
          </div>
        </div>
    </div>
</li>