<li class="row" id="review-<%= review.id %>">
    <div class="col-sm-2 user_comment text-center">
        <img src="<%= review.user.avatar.url %>" class="profile_img" style="width: 60px;">
        <p class="text-capitalize"><strong><%= review.user.username %></strong></p>
        <span class="timestamp text-f-uppercase">
            <%= time_ago_in_words(review.created_at) %> ago
        </span>
    </div>
    <div class="col-sm-10 review_content content">
        <pre class="text-f-uppercase"><%= review.content %></pre>
        <div class="reply_area">
            <a data-toggle="collapse" data-target="#<%= review.id%>" aria-expanded="false" aria-controls="collapseExample">Bình luận </a>
            <% if current_user?(review.user) %>
                <%= link_to "Xóa", review, method: :delete,data: { confirm: "You sure?" } ,remote:true %>
            <% end %>
        </div>
        <div class="collapse" id="<%= review.id %>">
          <div class="">
            <ul class="list_comments" id="comments">
              <li>
                <% if signed_in? %>
                    <%= render 'comments/comment_form', review: review %>
                <% end %>
              </li>
                <% if review.comments.any? %>
                    <%= render review.comments %>
                <% end %>
            </ul>
          </div>
        </div>
    </div>
</li>